$main-font-color: #000 !default;
$main-background-color: #f58501 !default;

$body-background-color: #ffe4c4 !default;

$header-background-color: #a06e35 !default;

$footer-background-color: #a06e35 !default;



