blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.5em solid #f5f5f5;
}

.dog {
  max-width: 100%;
  border-radius: 8px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(16px 16px 16px rgb(116, 93, 51));
}

.daffodil {
  display: block;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

.ica {
  max-width: 100%;
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.power {
  max-width: 100%;
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aftonbladet {
  max-width: 100%;
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
