.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #2a3952;
  color: #fff;

  .social a {
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
  }
}
