.header {
  grid-column: first / end;
  grid-row: row1-start / row2-start;
  background-color: #7ab2d3;
  padding: 2 rem;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.nav a {
  font-size: 3rem;
}
