@use 'variables' as *;

body {
  line-height: 1.4;
  //font-family: 'Roboto Flex', sans-serif;
  font-family: 'Mali';
  color: $main-font-color;
}

p {
  font-size: 1.4em;
  margin: 1.96rem; //line-height*font-size
}
